<section id='touch'>
	<div id='left' class='is-visible'>
		<button>
			<img inline src='arrow-left.svg'>
		</button>
	</div>
	<div id='right' class='is-visible'>
		<button>
			<p>Start quiz</p>
			<img inline src='arrow-right.svg'>
		</button>
	</div>
</section>
<section id='story'>
	<div class='quiz-details'>
		<div class='quiz-tracker'>
			<p class='song-count'>Song <span id='count'>1</span> of 5</p>
			<div class='song-circles'>
				<div id='song1' class='song-circle' data-quiz="1"></div>
				<div id='song2' class='song-circle' data-quiz="2"></div>
				<div id='song3' class='song-circle' data-quiz="3"></div>
				<div id='song4' class='song-circle' data-quiz="4"></div>
				<div id='song5' class='song-circle' data-quiz="5"></div>
			</div>
		</div>
	</div>
	<div id='slide_1' class='slide gradient is-visible-slide'>
		<div class='header'>
			<div class='roundel'>
				<img inline src='pudding/logo.svg'>
			</div>
		</div>
		<div class='title'>
			<h1>{{meta.title1}}</h1>
			<div class='kb-logo'>
				<img inline src='kb-logo.svg'>
			</div>
			<h1>{{meta.title2}}</h1>
		</div>
		<div class='byline'>
			<div>
				<p class='bolded'>Data analysis by</p>
				<p>{{meta.author1.name}}</p>
			</div>
			<div>
				<p class='bolded'>Design + development by</p>
				<p>{{meta.author2.name}}</p>
				<p>{{meta.author3.name}}</p>
			</div>
		</div>
	</div>

	<div id='slide_2' class='slide gradient'>
		<div class='text-wrapper'>
			{{#each copy.slide_2}}
			<p>{{{value}}}</p>
			{{/each}}
		</div>
	</div>

	{{#each copy.quiz_questions}}
	<div id='slide_{{firstID}}' class='slide gradient quiz' data-quiz='{{quizID}}'>
		<div class='quiz-header'>
			<div class='song-details'>
				<p id='artist'>{{{artist}}}</p>
				<p id='song'>{{{song}}}</p>
			</div>
		</div>
		<div class='lyric-wrapper'>
			<p>{{{lyric}}}</p>
		</div>
	</div>
	<div id='slide_{{secondID}}' class='slide gradient quiz'>
		<div class='quiz-header'>
			<div class='song-details'>
				<p id='artist'>{{{artist}}}</p>
				<p id='song'>{{{song}}}</p>
			</div>
		</div>
		<div class='compare-wrapper'>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Original</p>
					<img inline src='volume-2.svg'>
				</div>
				<p class='origLyric'>{{{lyric}}}</p>
			</div>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Kidz Bop</p>
					<img inline src='volume-2.svg'>
				</div>
				<p class='kbLyric'>{{{kbLyric}}}</p>
			</div>
		</div>
	</div>
	{{/each}}

	{{!-- <div id='slide_3' class='slide gradient quiz'>
		<div class='lyric-wrapper'>
			{{#each copy.quiz_1}}
				<p>{{{lyric}}}</p>
			{{/each}}
		</div>
		<div class='tap-directions'>
			<div class='roundel'></div>
			<p>Tap on the words to censor</p>
		</div>
	</div>
	<div id='slide_4' class='slide gradient quiz'>
		<div class='compare-wrapper'>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Original</p>
					<img inline src='volume-2.svg'>
				</div>
				{{#each copy.quiz_1}}
					<p>{{{lyric}}}</p>
				{{/each}}
			</div>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Kidz Bop</p>
					<img inline src='volume-2.svg'>
				</div>
				{{#each copy.quiz_1}}
					<p>{{{kbLyric}}}</p>
				{{/each}}
			</div>
		</div>
	</div>
	<div id='slide_5' class='slide gradient quiz'>
		<div class='lyric-wrapper'>
			{{#each copy.quiz_2}}
				<p>{{{lyric}}}</p>
			{{/each}}
		</div>
	</div>
		<div id='slide_6' class='slide gradient quiz'>
		<div class='compare-wrapper'>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Original</p>
					<img inline src='volume-2.svg'>
				</div>
				{{#each copy.quiz_2}}
					<p>{{{lyric}}}</p>
				{{/each}}
			</div>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Kidz Bop</p>
					<img inline src='volume-2.svg'>
				</div>
				{{#each copy.quiz_2}}
					<p>{{{kbLyric}}}</p>
				{{/each}}
			</div>
		</div>
	</div>
	</div>
	<div id='slide_7' class='slide gradient quiz'>
		<div class='lyric-wrapper'>
			{{#each copy.quiz_3}}
				<p>{{{lyric}}}</p>
			{{/each}}
		</div>
	</div>
	</div>
		<div id='slide_8' class='slide gradient quiz'>
		<div class='compare-wrapper'>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Original</p>
					<img inline src='volume-2.svg'>
				</div>
				{{#each copy.quiz_3}}
					<p>{{{lyric}}}</p>
				{{/each}}
			</div>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Kidz Bop</p>
					<img inline src='volume-2.svg'>
				</div>
				{{#each copy.quiz_3}}
					<p>{{{kbLyric}}}</p>
				{{/each}}
			</div>
		</div>
	</div>
	<div id='slide_9' class='slide gradient quiz'>
		<div class='lyric-wrapper'>
			{{#each copy.quiz_4}}
				<p>{{{lyric}}}</p>
			{{/each}}
		</div>
	</div>
		<div id='slide_10' class='slide gradient quiz'>
		<div class='compare-wrapper'>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Original</p>
					<img inline src='volume-2.svg'>
				</div>
				{{#each copy.quiz_4}}
					<p>{{{lyric}}}</p>
				{{/each}}
			</div>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Kidz Bop</p>
					<img inline src='volume-2.svg'>
				</div>
				{{#each copy.quiz_4}}
					<p>{{{kbLyric}}}</p>
				{{/each}}
			</div>
		</div>
	</div>
	<div id='slide_11' class='slide gradient quiz'>
		<div class='lyric-wrapper'>
			{{#each copy.quiz_5}}
				<p>{{{lyric}}}</p>
			{{/each}}
		</div>
	</div>
		<div id='slide_12' class='slide gradient quiz'>
		<div class='compare-wrapper'>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Original</p>
					<img inline src='volume-2.svg'>
				</div>
				{{#each copy.quiz_5}}
					<p>{{{lyric}}}</p>
				{{/each}}
			</div>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Kidz Bop</p>
					<img inline src='volume-2.svg'>
				</div>
				{{#each copy.quiz_5}}
					<p>{{{kbLyric}}}</p>
				{{/each}}
			</div>
		</div>
	</div> --}}
</section>