<section id='touch'>
	<div class='tapper'>
		<div id='left' class='is-visible'>
			<button>
				<img inline src='arrow-left.svg'>
			</button>
		</div>
		<div id='right' class='is-visible'>
			<button>
				<p>Let's find out</p>
				<img inline src='arrow-right.svg'>
			</button>
		</div>
	</div>
	<div id='skipper'>
		<p>Skip the quiz. Show me the data.</p>
	</div>
</section>
<section id='categories'>
	{{#each copy.censorship_categories}}
	<div class='category-bar {{{tag}}}-bar' data-cat={{tag}}>
		<p>{{{text}}}</p>
		<div class='button-wrapper' data-direction='forward'>
			<p>Back to categories</p>
			<button>
				<img inline src='arrow-right.svg'>
			</button>
		</div>
	</div>
	{{/each}}
</section>
<section id='story'>
	<div class='quiz-details'>
		<div class='quiz-tracker'>
			<p class='song-count'>Song <span id='count'>1</span> of 5</p>
			<div class='song-circles'>
				<div id='song1' class='song-circle' data-quiz="1"></div>
				<div id='song2' class='song-circle' data-quiz="2"></div>
				<div id='song3' class='song-circle' data-quiz="3"></div>
				<div id='song4' class='song-circle' data-quiz="4"></div>
				<div id='song5' class='song-circle' data-quiz="5"></div>
			</div>
		</div>
	</div>
	<div id='slide_1' class='slide gradient is-visible-slide'>
		<div class='header'>
			<div class='roundel'>
				<img inline src='pudding/logo.svg'>
			</div>
		</div>
		<div class='title'>
			<h1>{{meta.title1}}</h1>
			<div class='kb-logo'>
				<img inline src='kb-logo.svg'>
			</div>
			<h1>{{meta.title2}}</h1>
		</div>
		<div class='byline'>
			<div>
				<p class='bolded'>Data analysis by</p>
				<p>{{meta.author1.name}}</p>
			</div>
			<div>
				<p class='bolded'>Design + development by</p>
				<p>{{meta.author2.name}}</p>
				<p>{{meta.author3.name}}</p>
			</div>
		</div>
	</div>

	<div id='slide_2' class='slide gradient'>
		<div class='text-wrapper'>
			{{#each copy.slide_2}}
			<p>{{{value}}}</p>
			{{/each}}
		</div>
	</div>

	{{#each copy.quiz_questions}}
	<div id='slide_{{firstID}}' class='slide gradient quiz' data-quiz='{{quizID}}'>
		<div class='quiz-header'>
			<div class='song-details'>
				<p id='artist'>{{{artist}}}</p>
				<p id='song'>{{{song}}}</p>
			</div>
		</div>
		<div class='lyric-wrapper'>
			<p>{{{lyric}}}</p>
		</div>
	</div>
	<div id='slide_{{secondID}}' class='slide gradient quiz' data-answer='{{quizID}}'>
		<div class='quiz-header'>
			<div class='song-details'>
				<p id='artist'>{{{artist}}}</p>
				<p id='song'>{{{song}}}</p>
			</div>
		</div>
		<div class='compare-wrapper'>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Original</p>
					<img inline src='volume-2.svg'>
				</div>
				<p class='origLyric'>{{{lyric}}}</p>
			</div>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<p>Kidz Bop</p>
					<img inline src='volume-2.svg'>
				</div>
				<p class='kbLyric'>{{{kbLyric}}}</p>
			</div>
		</div>
	</div>
	{{/each}}

	<div id='slide_13' class='slide gradient'>
		<div class='results-wrapper'>
			<p class='results-count'><span class='correct-count'>X</span> out of 5</p>
			<p class='results-sentence'>Kids, earmuffs! Did you even really try?</p>
		</div>
		<div class='text-wrapper'>
			{{#each copy.slide_13}}
			<p>{{{value}}}</p>
			{{/each}}
		</div>
	</div>
	<div id='slide_14' class='slide' data-chart='bar'>
		<div class='text-wrapper top'>
			{{#each copy.slide_14}}
			<p>{{{value}}}</p>
			{{/each}}
		</div>
		<div class='chart chart__bar'></div>
	</div>
	<div id='slide_15' class='slide' data-chart='bar'>
		<div class='text-wrapper top'>
			{{#each copy.slide_15}}
			<p>{{{value}}}</p>
			{{/each}}
		</div>
		<div class='chart chart__bar'></div>
	</div>
	<div id='slide_16' class='slide'>
		<div class='text-wrapper'>
			{{#each copy.slide_16}}
			<p>{{{value}}}</p>
			{{/each}}
		</div>
	</div>
	<div id='slide_17' class='slide'>
		<div class='text-wrapper top'>
			{{#each copy.slide_17}}
			<p>{{{value}}}</p>
			{{/each}}
		</div>
	</div>
	<div id='slide_18' class='slide gradient'>
		<div id='spark-chart' class='chart'>

		</div>
		<div class='dropdown'>
			<div class='dropdown-group'>
				<div class='select-bg'></div>
				<select class='first-select'>
				</select>
			</div>
		</div>
		<div class='compare-wrapper'>
			<div class='lyric-set'>
				<div class='lyric-head'>
					<div class='deets'>
						<p class='song'>Livin’ La Vida Loca</p>
						<p class='kb-deets'>Kidz Bop, 2001</p>
						<p class='orig-deets'>Original by Ricky Martin</p>
					</div>
					<div class='toggle'>
						<p class='toggle-labels toggle-on'>Kidz Bop</p>
						<label class="switch">
							<input type="checkbox" class="is-faces">
							<span class="slider round"></span>
						</label>
						<p class='toggle-labels'>Original</p>
					</div>
				</div>
				<p class='origLyric'>She never drinks the water makes you order French champagne</p>
			</div>
		</div>
	</div>
</section>