<section id='touch'>
	<div id='left'></div>
	<div id='right'></div>
</section>	
<section id='story'>
	<div id='slide_1' class='slide gradient'>
		<div class='header'>
			<div class='roundel'>
				<img inline src='pudding/logo.svg'>
			</div>
		</div>
		<div class='title'>
			<h1>{{meta.title1}}</h1>
			<div class='kb-logo'>
				<img inline src='kb-logo.svg'>
			</div>
			<h1>{{meta.title2}}</h1>
		</div>
		<div class='byline'>
			<div>
				<p class='bolded'>Data analysis by</p>
				<p>{{meta.author1.name}}</p>
			</div>
			<div>
				<p class='bolded'>Design + development by</p>
				<p>{{meta.author2.name}}</p>
				<p>{{meta.author3.name}}</p>
			</div>
		</div>
	</div>

	<div id='slide_2' class='slide gradient'>
		<div class='text-wrapper'>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor laoreet odio, sit amet pulvinar ante semper in.</p>
		</div>
		<div class='button-wrapper'>
			<button>Start quiz</button>
		</div>
	</div>
</section>	